
/*<!--smaller video -->*/
.small-video {
    max-width: 500px; 
}
/*<!-- for scrolling interactivity -->*/
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}


